.nav {
    padding: 10px 15px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)
}
.nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-img {
    width: 50px;
    height: 50px;
}
.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    list-style-type: none;
}
.nav-item {
    font-size: 1rem;
    color: var(--tm-primary);
    text-decoration: none;
}
.nav-item:hover {
    color: var(--tm-primary-darken);
    transition: color 0.3s var(--tm-timing-function);
}
