
:root {
    --tm-primary: #00805A;
    --tm-primary-darken: #006043;
    --tm-timing-function: cubic-bezier(0.4, 0, 0, 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {font-size: 100%;}
ul {font-size: 0.75rem;}

* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.font-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.font-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.font-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
